{% extends "base.html" %}
{% block content %}

<div class="hero">
    <h1>Welcome {{ current_user.name }}</h1>
    <p>Book your ride instantly.</p>
</div>

<div class="card">
    <a href="/book" class="btn btn-primary">Book Taxi</a>

    <h3 style="margin-top:20px;">Your Rides</h3>

    <table>
        <tr>
            <th>Pickup</th>
            <th>Drop</th>
            <th>Fare</th>
            <th>Status</th>
            <th>Driver</th>
            <th>Contact</th>
            <th>OTP</th>
        </tr>

        {% for b in bookings %}
        <tr>
            <td>{{ b.pickup }}</td>
            <td>{{ b.drop }}</td>
            <td>₹{{ b.fare }}</td>
            <td>{{ b.status }}</td>

            {% if b.driver %}
                <td>{{ b.driver.name }}</td>
                <td>
                    <a href="tel:{{ b.driver.phone }}" class="btn btn-success">
                        Call
                    </a>
                </td>
            {% else %}
                <td>-</td>
                <td>-</td>
            {% endif %}

            <td>
                {% if b.status == "Accepted" %}
                    <span style="color:red; font-weight:bold;">
                        {{ b.otp }}
                    </span>
                    <br>
                    <small>Share with driver</small>

                {% elif b.status == "Ride Started" %}
                    OTP Verified ✅

                {% else %}
                    -
                {% endif %}
            </td>

        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}