{% extends "base.html" %}
{% block content %}

<div class="hero">
    <h1>Driver Dashboard</h1>
    <p>Accept available rides.</p>
</div>

<div class="card">
    <table>
        <tr>
            <th>Pickup</th>
            <th>Drop</th>
            <th>Fare</th>
            <th>Action</th>
        </tr>
        {% for b in bookings %}
        <tr>
            <td>{{ b.pickup }}</td>
            <td>{{ b.drop }}</td>
            <td>₹{{ b.fare }}</td>
            <td>
                <a href="/accept/{{ b.id }}" class="btn btn-success">Accept</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
