{% extends "base.html" %}
{% block content %}

<div class="hero">
    <h1>Driver Dashboard</h1>
    <p>Manage and verify rides securely.</p>
</div>

<!-- AVAILABLE RIDES -->
<div class="card">

    <h3>Available Rides</h3>

    <table>
        <tr>
            <th>User</th>
            <th>Phone</th>
            <th>Pickup</th>
            <th>Drop</th>
            <th>Fare</th>
            <th>Action</th>
        </tr>

        {% for b in pending_rides %}
        <tr>
            <td>{{ b.user.name }}</td>
            <td><a href="tel:{{ b.user.phone }}">{{ b.user.phone }}</a></td>
            <td>{{ b.pickup }}</td>
            <td>{{ b.drop }}</td>
            <td>₹{{ b.fare }}</td>
            <td>
                <a href="/accept/{{ b.id }}" class="btn btn-success">
                    Accept
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>


<!-- ACCEPTED RIDES -->
<div class="card" style="margin-top:30px;">

    <h3>Your Rides</h3>

    <table>
        <tr>
            <th>User</th>
            <th>Phone</th>
            <th>Pickup</th>
            <th>Fare</th>
            <th>Status</th>
            <th>OTP</th>
            <th>Action</th>
        </tr>

        {% for b in accepted_rides %}
        <tr>
            <td>{{ b.user.name }}</td>
            <td><a href="tel:{{ b.user.phone }}">{{ b.user.phone }}</a></td>
            <td>{{ b.pickup }}</td>
            <td>₹{{ b.fare }}</td>
            <td>{{ b.status }}</td>

            <td>
                {% if b.status == "Accepted" %}
                    {{ b.otp }}
                {% elif b.status == "Ride Started" %}
                    Verified ✅
                {% else %}
                    -
                {% endif %}
            </td>

            <td>

                {% if b.status == "Accepted" %}
                    <form method="POST" action="/verify_otp/{{ b.id }}">
                        <input type="text" name="entered_otp" placeholder="Enter OTP" required>
                        <button class="btn btn-primary">Verify</button>
                    </form>

                {% elif b.status == "Ride Started" %}
                    <a href="/complete/{{ b.id }}" class="btn btn-success">
                        Complete Ride
                    </a>

                {% else %}
                    Completed
                {% endif %}

            </td>

        </tr>
        {% endfor %}

    </table>

</div>

{% endblock %}